*{
    box-sizing: border-box;
}
body{
    font-family: "montserrat_alternatesregular";
    margin: 0;
    background-color: #fff;
    
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    border-color: #7FADC3;
    background-color: #fff;
}
p{
    margin: 4px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1A9CFA;
    color: white;
    border: hidden;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
select{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 20px;
}
.btn{
    text-align: center;
}
h2{
    text-align: center;
}
#memo{
    color: rgb(0, 0, 0);
    font-size: small;
    margin-top: 10px;
}
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('montserratalternates-regular-webfont.woff2') format('woff2'),
         url('montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    margin: 5px;
    font-size: small;
}